* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #e2e5e7;
}

.container {
  width: 530px;
  padding: 20px;
  margin: 100px auto;
  background-color: white;
}

.container .game-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 900;
  background-color: #e2e5e7;
}

.container .game-cards {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(3 , 1fr);
  gap: 20px;
}

.container .game-cards .card {
  width: 150px;
  height: 150px;
  background-color: #e2e5e7;
  cursor: pointer;
  text-align: center;
  line-height: 150px;
  font-size: 100px;
  text-transform: uppercase;
}

.container .game-cards .card:hover {
  background-color: black;
  color: white;
}

.container .game-cards .card.end {
  background-color: black;
  color: white;;
}