* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.game-container {
  margin: 20px auto;
  width: 800px;
}

.row {
  display: flex;
}

hr {
  border: 1px solid #EEE;
}

.game-info {
  font-size: 25px;
  display: flex;
}

.game-info .game-name {
  flex: 1;
}

.game-info .category {
  flex: 1;
  text-align: right;
}

.game-info .category span {
  text-transform: capitalize;
  color: #E91E63;
  font-weight: bold;
}

.hangman-draw {
  flex: 1;
  background-color: #F8F8F8;
  padding: 20px;
  height: 324px;
}

.hangman-draw.wrong-1 .the-draw{
  display: block;
}

.hangman-draw.wrong-2 .the-stand{
  display: block;
}

.hangman-draw.wrong-3 .the-hang{
  display: block;
}

.hangman-draw.wrong-4 .the-rope{
  display: block;
}

.hangman-draw.wrong-5 .head{
  display: block;
}

.hangman-draw.wrong-6 .body{
  display: block;
}

.hangman-draw.wrong-7 .hands{
  display: block;
}

.hangman-draw.wrong-8 .legs{
  display: block;
}

.the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  display: none;
}

.the-stand::before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
}

.the-stand {
  display: none;
}

.the-hang::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 10px;
}
.the-hang::after {
  content: "";
  position: absolute;
  width: 4px;
  left: 110px;
  top: 10px;
  height: 30px;
  background-color: #222;
}

.the-hang {
  display: none;
}

.the-rope {
  content: "";
  height: 70px;
  width: 70px;
  position: absolute;
  background-color: white;
  border: 4px dashed #222;
  border-radius: 50%;
  left: 75px;
  top: 40px;
  display: none;
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 85px;
  top: 50px;
  display: none;
}

.body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 100px;
  left: 110px;
  display: none;
}

.hands::before {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #222;
    left: 110px;
    top: 140px;
  transform: rotate(30deg);
  position: absolute;
}

.hands::after {
  content: "";
  width: 50px;
  height: 4px;
  background-color: #222;
    left: 65px;
    top: 140px;
  transform: rotate(-30deg);
  position: absolute;
}

.hands {
  display: none;
}

.legs::after {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  background-color: #222;
  top: 222px;
  left: 107px;
  transform: rotate(30deg);
}

.legs::before {
  content: "";
  width: 60px;
  height: 4px;
  position: absolute;
  background-color: #222;
  top: 222px;
  left: 55px;
  transform: rotate(-30deg);
}

.legs {
  display: none;
}

.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}

.letters.finished {
  pointer-events: none;
}

.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.letters .letter-box.clicked {
  background-color: #000;
  opacity: 0.4;
  pointer-events: none;
}

.letters-guess {
  margin: 10px auto;
  background-color: #F8F8F8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  font-size: 24px;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}

.letters-guess span.has-space {
  background : none;
  border-bottom: none;
  position: relative;
}

.letters-guess span.has-space::before {
  position: absolute;
  height: 4px;
  width: 20px;
  background-color: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  content: "";
}

.end {
  position: fixed;
  width: 400px;
  height: 400px;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 , 0 , 0 , 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  background-color: white;
}